* {
    box-sizing: border-box;
}

body {
    background-color: #344e41; /* Dark green background */
    font-family: 'Arial', sans-serif; /* Change font to Arial or any other jungle-themed font */
}

h1 {
    font-family: 'Garamond', serif; /* Change the font for the heading */
    font-weight: bold;
    text-align: center;
    color: #4CAF50; /* Light yellow color for the heading text */
}

canvas {
    margin-left: 45.2%;
    border: 5px outset #006400; /* Dark green border around the canvas */
    background-color: #228b22; /* Dark green color for the canvas background */
}

p {
    position: absolute;
    font-family: Trebuchet MS;
    text-align: center;
    margin-left: 914px;
    margin-top: 200px;
}

div {
    display: inline-block;
    position: absolute;
    margin-left: 915px;
    margin-top: -20px;
}