* {
    box-sizing: border-box;
}

body {
    background-color: #344e41;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Garamond', serif;
    font-weight: bold;
    text-align: center;
    color: #4CAF50;
}

canvas {
    margin: 0 auto;
    border: 5px outset #006400;
    background-color: #228b22;
    display: block;
}

p {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
}

div {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -20px;
}

